In [1]:
import pandas as pd
# читаем содержимое фалов
bulls = pd.read_csv('bulls.csv').sort_values('ebv', ascending=False)  # быки-кандидаты на осеменение
cows = pd.read_csv('cows.csv').sort_values('ebv', ascending=False)  # коровы, которых нужно осеменить
date_map = {'id': 'str', 'mother_id': 'str', 'father_id': 'str'}
pedigree = pd.read_csv('pedigree.csv', dtype=date_map)  # родословные животных

In [2]:
def clear_data(pedigree, bulls, cows):
    pedigree = pedigree.set_index(['mother_id', 'father_id'])
    bulls = bulls.fillna(bulls.mean(numeric_only=True))
    cows = cows.fillna(cows.mean(numeric_only=True))
    return pedigree, bulls, cows

clear_data(pedigree, bulls, cows)

(                                        id
 mother_id     father_id
 GB00000070596 FR00000051087  GB00000090350
 GB00000085021 GB00000051158  DE00000090351
 US00000087323 GB00000091078  US00000090352
 NaN           NaN            FR00000090353
 US00000056066 NL00000050889  GB00000090358
 ...                                    ...
 FR00000026340 GB00000000557  FR00000046829
 GB00000022627 US00000001653  FR00000048066
 NL00000005019 GB00000001788  RU00000048290
 DE00000028637 DE00000003760  US00000013052
 DE00000034312 NL00000001819  DE00000048341

 [94400 rows x 1 columns],
                id  descendants_count          ebv
 18  US00000000795                299  1867.900000
 17  US00000003507                 84  1782.900000
 2   US00000003013                436  1528.600000
 4   DE00000001742                496  1510.600000
 19  US00000003459                 51  1506.600000
 6   US00000002804                355  1444.300000
 5   GB00000002348                522  1315.300000
 7   FR00000002912               1250  1238.700000
 3   US00000001653               1097  1193.200000
 14  GB00000002585                  2  1173.900000
 8   DE00000003760                369  1138.500000
 9   DE00000003486                472  1085.500000
 11  RU00000003147                 50   824.900000
 20  NL00000051437                157   772.500000
 31  DE00000080214                  1   704.200000
 38  NL00000050788                  1   691.900000
 0   FR00000000479                476   690.700000
 23  NL00000050889                275   650.700000
 13  NL00000003091                208   539.000000
 15  GB00000002899                 15   534.900000
 29  US00000051455                217   489.800000
 28  US00000051108                151   477.000000
 12  RU00000002534                 41   475.400000
 21  FR00000051194                221   346.600000
 22  RU00000051449                235   324.900000
 27  FR00000051087                266    23.000000
 32  GB00000051128                106     0.900000
 25  NL00000051057                219   -11.800000
 16  RU00000002787                 52   -13.000000
 26  FR00000051052                263   -40.100000
 33  RU00000051274                  1  -324.600000
 24  GB00000051000                183  -432.400000
 10  FR00000003214                 39  -475.500000
 1   NL00000001842                325  -597.600000
 37  NL00000060143                  1  -656.600000
 34  DE00000073683                  1  -969.500000
 35  GB00000064975                  1 -1252.200000
 36  NL00000050449                  7 -1305.200000
 30  GB00000052082                  3   480.365789,
                   id          ebv
 4838   DE00000028635  2046.200000
 6810   FR00000011732  1981.100000
 9716   DE00000023145  1840.500000
 8011   DE00000014083  1814.800000
 5699   NL00000004886  1788.700000
 ...              ...          ...
 17029  DE00000051504   362.145342
 17033  NL00000051514   362.145342
 17102  FR00000072736   362.145342
 17133  NL00000006091   362.145342
 17172  DE00000051612   362.145342

 [17177 rows x 2 columns])

In [3]:
top_bull = bulls.head(1)